<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PyDay's MicroBlog</title>
    <meta name="description" content="">
    <meta name="author" content="Matías Herranz">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url home %}">PyDay's MicroBlog</a>
            <ul class="nav">
                <li><a href="{% url home %}" class="">Home</a></li>
                <li><a href="{% url write_new_post %}">Write new post</a></li>
                <li><a href="{% url read_posts %}">Show posts</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>PyDay's MicroBlog Example</p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/dyve">Matías Herranz</a> 2012
                |
                <a href="http://www.linkedin.com/in/matiasherranz">Profile</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
